<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block page_title %}
		{% endblock %}
		{{ msg('app-title') }}
	</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
	{% endblock %}
	{% block scripts %}
		<script type="text/javascript" src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script type="text/javascript" src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
	{% endblock %}
</head>
<body>

<div class="{{ logged_in_user() ? 'logged-in' : 'logged-out' }} container">

<header class="page-header">
	<h1 class="pt-5">{{ msg('app-title') }}</h1>
	<ul class="list-inline">
		<li class="list-inline-item"><a href="{{path('home')}}">{{ msg('homepage') }}</a></li>
		<li class="list-inline-item"><a href="{{path('contests')}}">{{ msg('contests') }}</a></li>
		{% if logged_in_user() %}
			<li class="list-inline-item">{{ msg( 'toolforge-logged-in-as', [ logged_in_user().username ] ) }}</li>
			<li class="list-inline-item"><a href="{{ path('toolforge_logout') }}">{{ msg('toolforge-logout') }}</a></li>
		{% else %}
			<li class="list-inline-item"><a href="{{ path('toolforge_login') }}">{{ msg('toolforge-login') }}</a></li>
		{% endif %}
	</ul>
</header>

{% for type, messages in app.flashes %}
	<div class="flashes">
		{% for message in messages %}
			<div class="alert alert-{{type}} alert-dismissible fade show">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				{{ msg(message.0, message.1) | raw }}
			</div>
		{% endfor %}
	</div>
{% endfor %}

<main>
	{% block main %}
	{% endblock %}
</main>
<<<<<<< HEAD
<script>
      var table = document.getElementById('sortable');
      var sortable = new Sortable(table);
</script>
<footer class="text-right">
=======

<footer class="text-end">
>>>>>>> origin/master
	<hr />
	<ul class="list-inline">
		<li class="list-inline-item"><a class="text-muted" href="https://meta.wikimedia.org/wiki/Wikisource_proofreading_contests">{{ msg('this-is-wscontest') }}</a></li>
		<li class="list-inline-item"><a class="text-muted" href="https://phabricator.wikimedia.org/tag/tool-wscontest">{{ msg('issue-tracker') }}</a></li>
		<li class="list-inline-item"><a class="text-muted" href="https://github.com/wikisource/contests">{{ msg('source-code') }}</a></li>
		<li class="list-inline-item"><a class="text-muted" href="https://www.gnu.org/licenses/gpl-3.0-standalone.html">{{ msg('gpl-link') }}</a></li>
	</ul>
</footer>

</div>
</body>
</html>
