{% extends 'base.html.twig' %}

{% block page_title %}
    {{ msg('contest', [contest.name]) }} —
{% endblock %}

{% block main %}

<h2>{{ msg('contest', [contest.name]) }}</h2>

<dl class="dl-horizontal">
    <dt>{{ msg('privacy-label') }}</dt>
    <dd>
        {% if contest.privacy == 2 %}{{ msg('privacy-public') }}{% endif %}
        {% if contest.privacy == 1 %}{{ msg('privacy-admin-during') }}{% endif %}
        {% if contest.privacy == 3 %}{{ msg('privacy-private') }}{% endif %}
    </dd>
    <dt>{{ msg('dates') }}</dt>
    <dd>{{ msg('start-date-formatted', [contest.start_date]) }}</dd>
    <dd>{{ msg('end-date-formatted', [contest.end_date]) }}</dd>
    <dt>{{ msg('administrators') }}</dt>
    <dd>
        <ul class="list-inline">
        {% for admin in contest.admins %}
            <li><a href="https://meta.wikimedia.org/wiki/User:{{ admin.name }}">{{ admin.name }}</a></li>
        {% endfor %}
        </ul>
    </dd>
    <dt>{{ msg('excluded-users') }}</dt>
    <dd>
        <ul class="list-inline">
            {% for excluded_user in contest.excluded_users %}
                <li class="list-inline-item"><a href="https://meta.wikimedia.org/wiki/User:{{ excluded_user.name }}">{{ excluded_user.name }}</a></li>
            {% endfor %}
        </ul>
    </dd>
</dl>

<p>
    <a href="{{ path('contests_view', {id: contest.id, format: 'wikitext'}) }}" class="btn btn-light border">{{ msg('wikitext-scores') }}</a>
    <a class="btn btn-light border {% if not can_edit %}disabled{% endif %}" href="{{ path('contests_edit', {id: contest.id}) }}">{{ msg('edit') }}</a>
</p>

<h3 id="index_pages">{{ msg('index-pages') }}</h3>
<ol>
    {% for ip in contest.index_pages %}
        <li><a href="{{ ip.url }}">{{ ip.url }}</a></li>
    {% endfor %}
</ol>

<div id="scores">
    <h3>{{ msg('scores') }}</h3>
    {% if can_view_scores %}
        <table class="table"  id="sortable">
            <caption style="caption-side: top">{{ msg('scores-legend', [score_calculation_interval~'']) }}</caption>
            <thead>
                <tr>
                    <th>{{ msg('rank') }}</th>
                    <th>{{ msg('user') }}</th>
                    <th>{{ msg('points') }}</th>
                    <th>{{ msg('contributions') }}</th>
                    <th>{{ msg('validations') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for index, score in scores %}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td><a href="https://meta.wikimedia.org/wiki/User:{{ score.username }}">{{ score.username }}</a></td>
                    <td>{{ score.points }}</td>
                    <td>{{ score.contributions }}</td>
                    <td>{{ score.validations }}</td>
                    <td>
                        <a href="{{ path('contests_view', {id: contest.id}) }}?u={{ score.user_id }}">{{ msg('details') }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-success"><p>{{ msg('contest-in-progress') }}</p></div>
    {% endif %}
</div>

{% endblock %}
