{% extends 'base.html.twig' %}

{% block page_title %}
    {{ msg('all-contests') }} —
{% endblock %}

{% block main %}

    {% if logged_in_user() %}
        <h2>{{ msg('your-contests') }}</h2>
        <p>
            <a href="{{ path('contests_create') }}" class="btn btn-success {% if not username %}disabled{% endif %}" role="button">
            {{ msg('create-contest') }}
            </a>
        </p>

        <table class="table sortable-theme-bootstrap" data-sortable>
            <thead>
            <tr>
                <th>{{ msg('contest-col-header') }}</th>
                <th>{{ msg('start-date-col-header') }}</th>
                <th>{{ msg('end-date-col-header') }}</th>
                <th>{{ msg('administrators-col-header') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for contest in user_contests %}
                <tr>
                    <td><a href="{{ path('contests_view', {id: contest.id}) }}">{{ contest.name }}</a></td>
                    <td>{{ contest.start_date }}</td>
                    <td>{{ contest.end_date }}</td>
                    <td>
                        <ul class="list-inline">
                        {% for admin in contest.admins %}
                            <li class="list-inline-item"><a href="https://meta.wikimedia.org/wiki/User:{{ admin.name }}">{{ admin.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            {% if not user_contests %}
                <tr><td colspan="4">{{ msg('no-contests') }}</td></tr>
            {% endif %}
            </tbody>
        </table>
    {% endif %}

    <h2>{{ msg('recently-ended-contests') }}</h2>
    <table class="table sortable-theme-bootstrap" data-sortable>
        <tbody>
            {% for contest in recent_contests %}
                <tr class="
                    {% if contest.pending %}bg-warning bg-opacity-10{% endif %}
                    {% if contest.in_progress %}bg-success bg-opacity-10{% endif %}
                    ">
                    <td><a href="{{ path('contests_view', {id: contest.id}) }}">{{ contest.name }}</a></td>
                    <td>{{ contest.start_date }}</td>
                    <td>{{ contest.end_date }}</td>
                    <td>
                        {% if contest.pending %}
                            {{ msg('not-started-yet') }}
                        {% elseif contest.in_progress %}
                            {{ msg('in-progress') }}
                        {% else %}
                            {{ msg('ended') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
