{% extends 'base.html.twig' %}

{% block page_title %}
    {{ user.name }} — {{ msg('contest', [contest.name]) }} —
{% endblock %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="{{ path('contests_view', {id: contest.id}) }}">{{ msg('contest', [contest.name]) }}</a></li>
    <li class="active">{{ msg('user-results') }}</li>
</ol>

<h2>{{ user.name }}</h2>

<table class="table table-condensed" id="sortable">
    <thead>
    <tr>
        <th>{{ msg('index-page') }}</th>
        <th>{{ msg('Revision') }}</th>
        <th>{{ msg('Date') }}</th>
        <th>{{ msg('points') }}</th>
        <th>{{ msg('contributions') }}</th>
        <th>{{ msg('validations') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for score in scores %}
        <tr>
            <td><a href="{{ score.index_page_url }}">{{ score.index_page_url }}</a></td>
            <td>
                <a href="{{ score.index_page_url }}?oldid={{ score.revision_id }}&diff=prev">
                    {{ score.revision_id }}
                </a>
            </td>
            <td>{{ score.revision_datetime }}</td>
            <td>{{ score.points }}</td>
            <td>{{ score.contributions }}</td>
            <td>{{ score.validations }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
