{% extends 'base.html.twig' %}

{% block main %}

<p class="lead">
    {{ msg('stats-summary', [ people|number_format, people, contests|number_format, contests ] ) }}
</p>

<p>{{ msg('home-description') }}</p>

<p>{{ msg('home-instructions') }}</p>

<p>{{ msg('home-score-components') }}</p>

<table class="table" role="table">
    <caption style="caption-side: top">{{ msg('scoring-system') }}</caption>
    <tr><th>{{ msg('home-table-header-action-taken') }}</th><th>{{ msg('home-table-header-points') }}</th><th>{{ msg('home-table-header-validations') }}</th><th>{{ msg('home-table-header-contributions') }}</th></tr>
    <tr><td>{{ msg('home-table-row-proofread') }}</td><td>&nbsp;3</td><td>&nbsp;0</td><td>&nbsp;1</td></tr>
    <tr><td>{{ msg('home-table-row-validated') }}</td><td>&nbsp;1</td><td>&nbsp;1</td><td>&nbsp;1</td></tr>
    <tr><td>{{ msg('home-table-row-validated-demoted') }}</td><td>-1</td><td>-1</td><td>-1</td></tr>
    <tr><td>{{ msg('home-table-row-proofread-demoted') }}</td><td>-3</td><td>&nbsp;0</td><td>-1</td></tr>
</table>

{% endblock %}
