{% extends 'base.html.twig' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="{{ path_for('contests_view', {id: contest.id}) }}">{{ msg('contest', [contest.name]) }}</a></li>
    <li class="active">{{ msg('user-results') }}</li>
</ol>

<h2>{{ user.name }}</h2>

<table class="table table-condensed">
    <thead>
    <tr>
        <th>{{ msg('index-page') }}</th>
        <th>{{ msg('Revision') }}</th>
        <th>{{ msg('Date') }}</th>
        <th>{{ msg('points') }}</th>
        <th>{{ msg('contributions') }}</th>
        <th>{{ msg('validations') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for score in scores %}
        <tr>
            <td><a href="{{ score.indexPage.url }}">{{ score.indexPage.url }}</a></td>
            <td><a href="{{ score.getRevisionUrl() }}">{{ score.revision_id }}</a></td>
            <td>{{ score.revision_datetime }}</td>
            <td>{{ score.points }}</td>
            <td>{{ score.contributions }}</td>
            <td>{{ score.validations }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
